services:

  kortingklok-api:
    image: kortingklok:{{ docker_image_tag }}
    hostname: kortingklok_api
    container_name: kortingklok_api
    restart: unless-stopped
    environment:
      SECRET_KEY: "{{ django_secret_key }}"
      CELERY_BROKER_URL: "redis://{{ redis_address }}"
      GOOGLE_APPLICATION_CREDENTIALS: "/app/firebase-adminsdk.json"
      DATABASE_URL: "postgresql://kortingklok:{{ postgresql_password }}@{{ postgres_address }}/kortingklok"
      ADMIN_USER_ID: "Anl5MAFXJgc0UHX8krSQrrLHZix2"
    volumes:
      - /etc/kortingklok/firebase-adminsdk.json:/app/firebase-adminsdk.json:ro
    command: bash -c "python manage.py migrate && gunicorn --config gunicorn.conf.py"
    networks:
      - kortingklok_network

  kortingklok-worker:
    image: kortingklok:{{ docker_image_tag }}
    hostname: kortingklok_worker
    container_name: kortingklok_worker
    restart: unless-stopped
    environment:
      SECRET_KEY: "{{ django_secret_key }}"
      CELERY_BROKER_URL: "redis://{{ redis_address }}"
      GOOGLE_APPLICATION_CREDENTIALS: "/app/firebase-adminsdk.json"
      DATABASE_URL: "postgresql://kortingklok:{{ postgresql_password }}@{{ postgres_address }}/kortingklok"
      ADMIN_USER_ID: "Anl5MAFXJgc0UHX8krSQrrLHZix2"
    volumes:
      - /etc/kortingklok/firebase-adminsdk.json:/app/firebase-adminsdk.json:ro
    command: bash -c "celery --app=baseapi worker --queues=default --concurrency=5"
    networks:
      - kortingklok_network

networks:
  kortingklok_network:
    driver: bridge
    name: kortingklok_network
