services:

  kortingklok-api:
    image: kortingklok:{{ docker_image_tag }}
    hostname: kortingklok_api
    container_name: kortingklok_api
    restart: unless-stopped
    environment:
      SECRET_KEY: "{{ django_secret_key }}"
      CELERY_BROKER_URL: "redis://kortingklok_redis:6379"
      GOOGLE_APPLICATION_CREDENTIALS: "/etc/kortingklok/firebase-adminsdk.json"
      DATABASE_URL: "postgresql://kortingklok:{{ postgresql_password }}@kortingklok_postgres:5432/kortingklok"
    command: bash -c "make db-migrate && make prod-server"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/api/v1/health"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 30s
    networks:
      - kortingklok_network

  kortingklok-worker:
    image: kortingklok:{{ docker_image_tag }}
    hostname: kortingklok_worker
    container_name: kortingklok_worker
    restart: unless-stopped
    environment:
      SECRET_KEY: "{{ django_secret_key }}"
      CELERY_BROKER_URL: "redis://kortingklok_redis:6379"
      GOOGLE_APPLICATION_CREDENTIALS: "/etc/kortingklok/firebase-adminsdk.json"
      DATABASE_URL: "postgresql://kortingklok:{{ postgresql_password }}@kortingklok_postgres:5432/kortingklok"
    command: bash -c "make prod-worker"
    networks:
      - kortingklok_network

  kortingklok-nginx:
    image: nginx:1.27
    hostname: kortingklok_nginx
    container_name: kortingklok_nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/kortingklok/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /var/www/certbot:/var/www/certbot:ro
    healthcheck:
      test: ["CMD", "curl", "-f", "https://api.kortingklok.nl/api/v1/health"]
      interval: 30s
      timeout: 5s
      retries: 3
    depends_on:
      - kortingklok-api
    networks:
      - kortingklok_network

networks:
  kortingklok_network:
    driver: bridge
    name: kortingklok_network
